
* {
  padding: 0%;
  margin: 0%;
}
h1 {
  text-align: center;
  font-family: "Irish Grover", cursive !important;
  font-size: 35px;
  font-weight: 800;
  width: 100%;
  background: rgb(45, 70, 41);
  color: rgb(219, 191, 98);
  border-bottom: 4px solid rgb(10, 56, 1);
}
.sideBar {
  width: 250px;
  background: rgb(45, 70, 41);
}
div a {
  text-decoration: none;
  color: white;
  padding: 10px;
  padding-right: 100px;
  display: inline-block;
}
div ul li {
  list-style-type: none;
  display: block;
  padding: 15px;
  border-bottom: 1px solid rgb(10, 56, 1);
}
div ul li:hover {
  background: rgb(111, 151, 103);
  transition: linear all 0.6s;
  margin-left: 10px;
  border-radius: 4px;
}
div ul li a:hover {
  color: black;
}
.Logo {
  animation: App-logo-spin infinite 20s linear;
  padding: 5px;
  height: 60px;
  width: 60px;
}
.contact {
  display: inline-block;
  text-align: center;
  background: rgb(45, 70, 41);

}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
